Hay una respuesta a la pregunta que nos realizaste en tu laptop <%= @laptop.marca%>:

Puedes revisar la respuesta en http://www.formatfest.com/laptop/<%=@laptop.id%>

¡Gracias por su preferencia!

----
Staff FormatFest 18
