Hay una respuesta a la pregunta que nos realizaste sobre tu laptop <%= @laptop.marca%>:

Puedes revisar la respuesta en http://www.formatfest.com/laptops/<%=@laptop.id%>

¡Gracias por su preferencia!

----
Staff FormatFest 18
