Hay una respuesta a la pregunta que nos realizaste sobre tu laptop <%= @laptop.marca%>:

"<%= @message%>"

Puedes revisar toda la información de tu laptop en http://www.formatfest.com/laptops/<%=@laptop.id%>

¡Gracias por su preferencia!

----
Staff FormatFest 18
