Hay una pregunta realizada por el dueño de una laptop <%= @laptop.marca%> con ID <%= @laptop.id%>:

Puedes revisar la pregunta en http://www.formatfest.com/laptops/<%=@laptop.id%>

No olvides que para darle respuesta al cliente, es necesario seleccionar la opción de dar respuesta.

----
Staff FormatFest 18
