La reparación de la siguiente laptop ha sido completada:

==Laptop==
Marca: <%= @laptop.marca%>
Modelo: <%= @laptop.modelo%>
Color: <%= @laptop.color%>

Puede pasar a recogerla en la Sala 1 de Centro Estudiantil en horario de 8:00 A.M. a 6:00 P.M.
Recuerda que tienes 2 días para hacer cualquier reclamo sobre tu computadora.

El staff Format Fest le agradece por su preferencia.

----
Staff Format Fest 17
