La reparación de la siguiente laptop ha sido completada:

==Laptop==
Marca: <%= @laptop.marca%>
Modelo: <%= @laptop.modelo%>
Color: <%= @laptop.color%>

Le avisamos que estaremos entregando las laptops finalizadas en horario corrido a partir de hoy y hasta el domingo 30 de enero de 2011 hasta el mediodía.

Recuerda que tienes 2 días para hacer cualquier reclamo sobre tu computadora.

El staff Format Fest le agradece por su preferencia.

----
Staff FormatFest 18
