 <span style="font-size:15px;"><b>Contrato de Servicios Profesionales Format Fest</b></span>
		     <h5>Clausulas:</h5>
<div id="clausulas">
<p>I.-  Objeto de este contrato: “El contratante” encomienda al “el contratista” la realización de los servicios consistentes en el mantenimiento, formateo e instalación del Sistema Operativo solicitado en su equipo computacional. De este modo, “el contratista” se obliga a prestarlos aplicando para ello, su conocimiento, experiencia, fuerza laboral y capacidad técnica.</p>

<p>II.- El servicio que se prestara al cliente consiste en el mantenimiento y reparación de equipos computacionales en relación al software, por lo que no se le podrá solicitar a “el contratante” a que lleve a cabo un servicio que tenga que ver con el hardware o que atente con el estado físico del ordenador.</p>

<p>III.- “El contratante” acepta que “el contratista” se deslinda de cualquier responsabiliza sobre el equipo o información que vengan previamente dañados, así como de la eliminación de archivos que no hayan sido especificados para su respectivo respaldo.</p>

<p>IV.- “El contratista” se obliga a iniciar sus servicios, objeto de este contrato, el día de entrega del equipo y de conformidad con las clausulas antes estipuladas. Además, “el contratista”  se compromete hacer entrega del ordenador en la fecha que este sea terminado, tratando de brindar el mejor servicio.</p>

<p>V.- “El contratista” se obliga a recibir un pago para garantizar el cumplimiento de este contrato así como el correcto uso del bien monetario recibido. Además se le garantiza a “el contratante” la completa satisfacción con respecto al funcionamiento total de su ordenador, siempre y cuando no tenga fallas de hardware o físicas o irreversibles. Dicho pago deberá ser en efectivo y antes de prestar el servicio, por la cantidad acordada por las dos partes.</p>

<p>VI.- “El contratista” es responsable de mostrar al cliente la completa funcionalidad de su ordenador, a reserva de las fallas previas que este haya presentado durante el registro. </p>

<p>VII.- “El contratista” no podrá hacer mal uso de los datos del cliente por medio de publicaciones, conferencias, informes los resultados obtenidos por este contrato. Sin embargo, el resultado final se tomara como datos estadísticos, en los cuales no se usara la información personal de “el contratante”, para propósitos de calidad y/o rendición de informes.</p>

<p>VIII.- “El contratante”, podrá exigir una revaloración con respecto al servicio prestado en caso de no estar completamente satisfecho con el trabajo, sin embargo en caso de solicitar una devolución de dinero, “el contratista” solo será capaz de regresar el 50% del monto total cobrado. </p>

<p>IX.- Es responsabilidad de “el contratante” de verificar el funcionamiento de su ordenador dentro de su área laboral, ya que “el contratista” solo aceptara aclaraciones dentro de las primeras 12 horas de haber entregado el equipo. Fuera de ese rango de tiempo “el contratista” así como sus colaboradores no se harán responsables por cualquier anomalía que no existieran previo al servicio ofrecido.</p>

<p>X.- Para la interpretación y cumplimiento de este contrato así como para todo aquello que no esté expresamente consignado en el mismo, las partes se someten a la jurisdicción de las autoridades correspondientes del Tecnológico de Monterrey Campus Monterrey.</p>
		  </div>
