<div id="footer">
  <div id="wrapper" class="clearfix">
    <div id="patrocinadores">
      <span>Nuestros Patrocinadores:</span>
      <br />
      <br />
      <%= image_tag 'patrocinadores/Subway2.png' %>
      <%= image_tag 'patrocinadores/gibas.png' %>
      <%= image_tag 'patrocinadores/mv.png' %>
    </div>
    <div id="facebookBajo">
      <%= link_to image_tag("bface.png" , :id=>"facebook", :border=>0, :onmouseover=>"this.style.opacity=.7;", :onmouseout=>"this.style.opacity=1;"), "http://www.facebook.com", :class => 'ajax', :target => 'content' %>
    </div>
  </div>
</div>
