	<div id="header">
        	<%= link_to image_tag ("logo_FF.png" , :id=>"logo"), root_path %>
        	<%= link_to image_tag ("boton_SAITC_un.png", :id=>"botonHeader", :mouseover => "boton_SAITC_sel.png"), "#"%>
        	<%= link_to image_tag ("boton_FF_sel.png", :id=>"botonHeader"), root_path %>
        	<%= link_to image_tag ("boton_SW_un.png", :id=>"botonHeader", :mouseover => "boton_SW_sel.png"), "#" %>
      </div>
