	<div id="header">
        	<%= link_to image_tag("logo_FF.png" , :id=>"logo"), root_path %>
        	<%= link_to image_tag("boton_SAITC.png", :id=>"botonHeaderFuera", :onmouseover=>"this.style.opacity=1;", :onmouseout=>"this.style.opacity=.5;"), "http://www.saitc-mty.com/"%>
        	<%= link_to image_tag("boton_FF.png", :id=>"botonHeader"), root_path %>
        	<%= link_to image_tag("boton_SW.png", :id=>"botonHeaderFuera", :onmouseover=>"this.style.opacity=1;", :onmouseout=>"this.style.opacity=.5;"), "#" %>
      </div>
