body, html {
	background: url(../images/background.jpg) fixed;
}

div#majorContent {
	/*background: #63adf8;
	border:2px solid white;*/
	background: url(../images/content.png) repeat-y;
	width: 1095px;
	margin: -10px auto -10px auto;
	padding: 20px 0px;
	/*-webkit-box-shadow: 7px 5px 10px #333;
	-moz-box-shadow: 5px 5px 5px #333;
	box-shadow: 5px 5px 5px #333;*/
}

div#header{
	background: url(../images/header.png) no-repeat;
	position: relative;
	width: 859px;
	height: 180px;
	margin: 0px auto 20px auto;
	
}

div#header #logo{
	padding: 27px 0px 50px 10px;
	border: none;
}

div#header #botonHeader{
	padding: 27px 0px 20px 0px;
	border: none;
}

div#majorContent div#top_subsection{
	background: url(../images/top_subsection.png) no-repeat;
	width: 259px;
	height: 11px;
	margin: 10px 0px 0px 117px;
}
div#majorContent div#subsection{
	background: url(../images/body_subsection.png) repeat-y;
	width: 259px;
	min-height: 100%;
	margin: 0px 0px 0px 117px;
	padding: 0px 0px 0px 8px;
}
div#majorContent div#bottom_subsection{
	background: url(../images/bottom_subsection.png) no-repeat;
	width: 259px;
	height: 11px;
	margin: 0px 0px 0px 117px;
}

div#majorContent div#top_section{
	background: url(../images/top_section.png) no-repeat;
	width: 578px;
	height: 37px;
	margin: 10px 0px 0px 22px;
	padding: 10px 0px 0px 10px;
}

div#majorContent div#body_section{
	background: url(../images/body_section.png) repeat-y;
/*border:2px solid black;*/
  width:578px;
	margin: -12px 0px 0px 22px;
	
}

div#majorContent div#bottom_section{
	background: url(../images/bottom_section.png) no-repeat;
/*border:2px solid black;*/
  width:574px;
  height: 4px;
	margin: 0px 0px 0px 22px;
}

div#majorContent div#top_section #titulo{
	font-size: 20px;
	text-decoration: underline;
}

div#majorContent div#top_section #fechaNoticia{
	text-decoration: none;
	font-size: 9px;
}

div#majorContent div#body_section #contenido{
	text-align: justify;
	margin: -4px 0px 0px 0px;
	padding: 5px 10px 0px 10px;
}

div#majorContent #apareceForma{
    float:right;
    margin: -5px 95px 0px 0px;
}

div#majorContent div#listadoUsuarios{
    margin:10px 120px;
    
}

div#majorContent div#nuevaLaptop input[type=text]{
border:1px solid #ccc;
width:250px;
height:25px;
-moz-border-radius:6px;
-webkit-border-radius:6px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 5px 0px 0px 100px;
  width:240px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#leftcol{
 width:34.34%; 
 float:left; 
 position:relative; 
 }
 
#maincol{  
 float: right; 
 display:inline; 
 position: relative; 
 width:65.66%; 
 }
 
 /* *** Float containers fix:
 http://www.csscreator.com/attributes/containedfloat.php *** */ 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  
 
 /*printer styles*/ 
 @media print{ 
/*hide the left column when printing*/ 
#leftcol{display:none;} 
#twocols, #maincol{width:100%; float:none;}
}
