<div id="top_subsection"></div>
<div id="subsection">
<span>Buscar Cliente</span>
<% form_tag busqueda_path, :method => "get" do%>
<%= text_field_with_auto_complete :user, :email, {:value => ""}, {:url => formatted_users_path(:js), :method => :get, :with => "'search=' + element.value"} %>

<%= submit_tag "Buscar", :name => nil%>
<% end %>
</div>
<div id="bottom_subsection"></div>
