<div id="editarUsuario">
<h1>Editando a <%=@user.fname%></h1>
<% form_for(@user) do |f| %>
  <%= render :partial => 'forma', :locals => {:f => f}%>
  
  <%= f.submit 'Actualizar'%>
  <% end %>
</div>
