<div id="maincol">
	<div id="nuevaLaptop">
		<% form_for(@laptop) do |f| %>
			<%= render :partial => 'form', :locals => {:f => f, :disabled => false}%>
			<%= f.submit 'Registrar laptop' %>
			</div>
			</div>
			<!-- Este div pone la parte de abajo del subsection -->
			<div id ="bottom_section"></div>
		<% end %>
	</div>
</div>

